<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/DomainDrivenDesign.log">

	<extensions>
		<add assembly="DomainDrivenDesign.Api" />
	</extensions>

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="basedir" value="logs" />
	<variable name="naming" value="${date:format=yyyy-MM-dd}.log" />

	<variable name="logFatalPath" value="${basedir}/Fatal/${naming}" />

	<variable name="logPath" value="${basedir}/${naming}" />

	<variable name="archivePath" value="${basedir}/weekly_archives/{#}.zip" />

	<variable name="fmt" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${mdlc:CorrelationId:padding=32}] ${level:padding=5:uppercase=true} @ ${logger:shortName=true} -> ${replace-newlines:${message}} ${onexception:inner=${replace-newlines:${exception:format=tostring}}}" />

	<variable name="fmtWithStackTrace" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${mdlc:CorrelationId:padding=32}] ${exception:format=ToString,StackTrace}${newline}" />

	<targets async="true">
		<default-target-parameters xsi:type="File" encoding="utf-8" layout="${fmt}" />

		<target name="asyncLogFatal" fileName="${logFatalPath}" xsi:type="File" layout="${fmt}" />

		<target name="asyncLog"
					fileName="${logPath}"
					xsi:type="File"
					concurrentWrites="true"
					keepFileOpen="false"
					encoding="utf-8" />

		<target name="consoleLogger"
                layout="${fmt}"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
		</target>

		<target name="consoleLoggerError"
                xsi:type="ColoredConsole"
                layout="${fmtWithStackTrace}">
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="consoleLogger" />
		<logger name="*" minlevel="Error" writeTo="consoleLoggerError" />
		<logger name="*" minlevel="Info" writeTo="asyncLog" />
		<logger name="*" minlevel="Error" writeTo="asyncLogFatal" />
	</rules>
</nlog>